/* global tag */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* body */
body {
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #e8e8e8;
    color: #333;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}

/* header */
h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* badge span */
span {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #fff;
    color: #1a1a1a;
    margin-left: 1rem;
}

/* buttons container */
div.Buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

button {
    font-size: 16px;
    padding: 1em 3.3em;
    transform: perspective(200px) rotateX(15deg);
    color: white;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    font-family: "Outfit", sans-serif;
    text-transform: uppercase;
    background: linear-gradient(
        0deg,
        rgba(63, 94, 251, 1) 0%,
        rgba(70, 135, 252, 1) 100%
    );
    box-shadow: rgba(63, 94, 251, 0.2) 0px 40px 29px 0px;
    will-change: transform;
    transition: all 0.3s;
    border-bottom: 2px solid rgba(70, 135, 252, 1);
    width: 200px;
}

button:hover {
    transform: perspective(180px) rotateX(30deg) translateY(2px);
}

button:active {
    transform: perspective(170px) rotateX(36deg) translateY(5px);
}

/* change color of last button */
button:last-child {
    background: linear-gradient(0deg, #ff416c 0%, #ff4b2b 100%);
    box-shadow: rgba(227, 93, 91, 0.2) 0px 40px 29px 0px;
    border-bottom: 2px solid rgba(227, 93, 91, 0.5);
}

/* first button to green */
button:first-child {
    background: linear-gradient(0deg, #0cebeb 0%, #20e3b2 50%, #29ffc6 100%);
    box-shadow: rgba(41, 255, 198, 0.2) 0px 40px 29px 0px;
    border-bottom: 2px solid rgba(41, 255, 198, 0.5);
}

/* second button to white */
button:nth-child(2) {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    box-shadow: rgba(0, 0, 0, 0.1) 0px 40px 29px 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    color: #333;
}
